form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form :first-child{
    padding: 5px;
}

form > div{
    padding: 10px;
}

form > p{
    margin: 15px;
    border-radius: 15px;
    height: 90px;
    width: 300px;
    color: white;
    font-weight: 700;
    text-align: center;
}

#parrafo1{
    background-color: #28a745;
    padding: 35px;
}

#parrafo2{
    background-color: #ffc107;
    padding: 20px;
}

#parrafo3{
    background-color: #dc3545;
    padding: 25px;
}